.thead-inverse {
  background-color: #4d4d4d;
  color: white;
  font-size: larger;
}

thead:last-child {
  margin-bottom: 15px;
}


.table th, .table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 50px;
  max-width: 300px;
  text-align: center;
  height: 65px;
  line-height: 65px;
  padding: 0;
}

.form-control {
  margin-top: 10px;
  width: 100px!important;
}

.attach-btn {
  margin-bottom: 10px;
}
